.primary {
  background-color: orangered;
  margin: 10px;
}

.primary:hover {
  background-color: orange;
}

.success {
  background-color: green;
  margin: 10px;
}

.success:hover {
  background-color: rgb(50, 226, 50);
  color: #000;
}

.danger {
  background-color: red;
  margin: 10px;
}

.danger:hover {
  background-color: #c62828;
}


