.login-box {
    background-Color: rgba(255, 255, 255, 0.3); 
    height: 500px;
    width: 400px;
    margin: auto; 
    border-Radius: 10%;
    position: relative;
}

h2 {
    font-size: 30px;
    color: #000;
    padding-top: 40px;
}

p {
    font-size: 24px;
    color: #000;
    font-weight: 500;
    text-align: left;
    margin-left: 50px;
}

input {
    height: 35px;
    width: 300px;
    border-radius: 10px;
    background-color: white;
    color: #000;
    font-size: 20px;
}

.btn-login {
    background-color: aqua;
    color: #000;
    margin: 20px;
    margin-top: 40px;
    width: 300px;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #000;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: transparent;
    border: none;
    font-size: 22px;
    cursor: pointer;
    color: red;
}

.btn-login  {
    background-color: rgb(109, 214, 175);
}