h2 {
    text-align: center;
    margin: 30px;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.product {
    background-color: bisque;
    width: 200px;
    height: 200px;
    text-align: center;
    border-radius: 15px;
    font-size: 20px;
    color: #000;
}

@media (max-width: 768px) {
    .product-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px){
    .product-list {
        grid-template-columns: repeat(1, 1fr);
    }
}